.form-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
}

.form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.date-input {
  display: flex;
  gap: 20px;
}

@media (max-width: 900px) {
  .form-box {
    width: 75%;
  }

  .date-input {
    flex-direction: column;
    gap: 0;
  }
}

.full-width {
  width: 100%;
}

.error {
  color: red;
  size: 14px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
