<mat-toolbar>
  <div class="title-container">
    <img priority ngSrc="logo_placeholder.png" width="115" height="64" />
    <span class="mat-title-large">MotoRent</span>
  </div>
  <span class="example-spacer"></span>

  <div class="desktop-nav-list">
    <button mat-button (click)="onHomeClick()">
      {{ "NAV.HOME" | translate }}
    </button>
    <mat-divider vertical></mat-divider>
    <button mat-button>{{ "NAV.ABOUT" | translate }}</button>
    <mat-divider vertical></mat-divider>
    <button mat-button>{{ "NAV.SERVICES" | translate }}</button>
    <mat-divider vertical></mat-divider>
    <button mat-button (click)="onContactClick()">
      {{ "NAV.CONTACT" | translate }}
    </button>
  </div>

  <div class="lang-spacer"></div>
  <div class="desktop-lang-menu">
    <app-lang-select />
  </div>

  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item>{{ "NAV.HOME" | translate }}</a>
    <a mat-menu-item>{{ "NAV.ABOUT" | translate }}</a>
    <a mat-menu-item>{{ "NAV.SERVICES" | translate }}</a>
    <a mat-menu-item>{{ "NAV.CONTACT" | translate }}</a>
    <mat-divider></mat-divider>
    <app-lang-select />
  </mat-menu>
</mat-toolbar>
