<mat-toolbar>
  <div class="title-container">
    <img src="logo_placeholder.png" width="144" height="80" />
    <span class="mat-title-large">MotoRent</span>
  </div>
  <span class="example-spacer"></span>

  <div class="nav-list">
    <button mat-button>Home</button>
    <mat-divider vertical></mat-divider>
    <button mat-button>About</button>
    <mat-divider vertical></mat-divider>
    <button mat-button>Services</button>
    <mat-divider vertical></mat-divider>
    <button mat-button>Contact</button>
  </div>

  <div class="lang-spacer"></div>
  <div class="lang-menu">
    <button mat-button><img class="lang-btn" src="ger.png" /></button>
    <button mat-button><img class="lang-btn" src="uk.png" /></button>
  </div>

  <!-- <mat-nav-list disableRipple class="nav-list">
    <a mat-list-item class="nav-item" href="/home">Home</a>
    <mat-divider vertical></mat-divider>
    <a mat-list-item class="nav-item" href="/about">About</a>
    <mat-divider vertical></mat-divider>
    <a mat-list-item class="nav-item" href="/services">Services</a>
    <mat-divider vertical></mat-divider>
    <a mat-list-item class="nav-item" href="/contact">Contact</a>
  </mat-nav-list> -->
</mat-toolbar>
