.example-spacer {
  flex: 1 1 auto;
}

.lang-spacer {
  margin-left: 40px;
}

.title-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

mat-divider[vertical] {
  margin: 0 8px;
  height: 25px;
  align-self: center;
}

.menu-icon {
  display: none;
}

/* Display nav list and language menu on larger screens */
.desktop-nav-list,
.desktop-lang-menu {
  display: flex;
}

/* Hide the navigation list and language menu on smaller screens */
@media (max-width: 900px) {
  .desktop-nav-list,
  .desktop-lang-menu {
    display: none;
  }

  /* Show the hamburger menu button on smaller screens */
  .menu-icon {
    display: block;
  }
}
